<!-- {% load static %}
<section id="contact" class="Contact scroll-mt-28">
    <div class="p-6 flex flex-col items-center md:max-w-4xl md:mx-auto">
        Nuevo proyecto
        <div class="bg-primary rounded-2xl dark:bg-neutral-800">
            <div class="flex flex-col gap-6 justify-center px-6 py-16 md:flex-row items-center md:max-w-3xl">
                <div class="flex flex-col gap-4 md:max-w-96">
                    <h2 class="text-2xl font-extrabold text-white text-center dark:text-neutral-300">¿Crees que tengo lo que necesitas?</h2>
                    <p class="font-semibold text-white text-center dark:text-neutral-400">Si tienes un nuevo proyecto o crees que tengo lo que buscas para tu equipo, no dudes en contactarme.</p>
                    <div class="inline-flex text-sm font-semibold mx-auto">
                        <a class="bg-light text-dark py-4 px-5 rounded-lg flex gap-2 items-center justify-center hover:bg-neutral-200 transition-colors" href="mailto:kelvincedcas@gmail.com">
                            Contáctame
                            <i class="uil uil-message"></i>
                        </a>
                    </div>
                </div>
                <div class="w-full md:w-auto md:min-w-60 flex justify-center">
                    <img class=" max-h-60" src="{% static 'img/foto3.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section> -->