<section id="experience" class="Experience scroll-mt-28">
    <div class="flex flex-col items-center gap-20">
        <div class="flex flex-col items-center dark:text-neutral-300">
            <h1 class="text-2xl font-black">Experiencia</h1>
            <p class="text-sm text-neutral-600 dark:text-neutral-400 text-center">Estos son los cursos y experiencia laboral que he adquirido</p>
        </div>
        <div class="w-full flex flex-col gap-7 pr-3 dark:text-neutral-300">
            <div class="flex gap-4 items-center justify-center text-sm">
                <button onclick="toggleExperience()" id="studies" class="flex flex-col items-center cursor-pointer text-primary hover:text-primary transition-all">
                    <i class="text-lg uil uil-graduation-cap"></i>
                    <p>Estudios</p>
                </button>
                <div class="border border-neutral-400 dark:border-neutral-600 h-[35px]"></div>
                <button onclick="toggleExperience()" id="jobs" class="flex flex-col items-center cursor-pointer hover:text-primary transition-all">
                    <i class="text-lg uil uil-briefcase-alt"></i>
                    <p>Laboral</p>
                </button>
            </div>
            <div id="container_studies" class="flex flex-col pl-3 md:max-w-3xl md:mx-auto">
                <!--Estudio 1-->
                <div class="flex">
                    <div class="ml-6 pb-7">
                        <h3 class="font-bold">Ingeniero en Sistemas Informáticos</h3>
                        <p class="dark:text-neutral-400 text-neutral-600 text-sm">Universidad Técnica de Manabí</p>
                        <span class="dark:text-neutral-400 text-neutral-400 text-sm">
                        <i class="uil uil-calendar-alt"></i>
                        2018-2023
                        </span>
                    </div>
                    <div class="order-first flex relative">
                        <span class="absolute inline-block w-[2px] bg-neutral-200 dark:bg-neutral-500 h-full translate-y-4"></span>
                        <span class="absolute inline-block bg-primary h-4 w-4 rounded-full -translate-x-[7px] translate-y-[3px]"></span>
                    </div>
                </div>
                <!--Estudio 2-->
                <div class="flex">
                    <div class="ml-6 pb-7">
                        <h3 class="font-bold">Desarrollador Web</h3>
                        <p class="dark:text-neutral-400 text-neutral-600 text-sm">Udemy</p>
                        <span class="dark:text-neutral-400 text-neutral-400 text-sm">
                        <i class="uil uil-calendar-alt"></i>
                        Enero 2023
                        </span>
                    </div>
                    <div class="order-first flex relative">
                        <span class="absolute inline-block w-[2px] bg-neutral-200 dark:bg-neutral-500 h-full translate-y-3"></span>
                        <span class="absolute inline-block bg-primary h-4 w-4 rounded-full -translate-x-[7px] translate-y-[3px]"></span>
                    </div>
                </div>
                <!--Estudio 3-->
                <div class="flex">
                    <div class="ml-6 pb-7">
                        <h3 class="font-bold">Diseñador UI/UX</h3>
                        <p class="dark:text-neutral-400 text-neutral-600 text-sm">Udemy</p>
                        <span class="dark:text-neutral-400 text-neutral-400 text-sm">
                        <i class="uil uil-calendar-alt"></i>
                        Mayo 2023
                        </span>
                    </div>
                    <div class="order-first flex relative">
                        <span class="absolute inline-block w-[2px] bg-neutral-200 dark:bg-neutral-500 h-full translate-y-3"></span>
                        <span class="absolute inline-block bg-primary h-4 w-4 rounded-full -translate-x-[7px] translate-y-[3px]"></span>
                    </div>
                </div>
                <!--Estudio 4-->
                <div class="flex">
                    <div class="ml-6">
                        <h3 class="font-bold">Universidad Python</h3>
                        <p class="dark:text-neutral-400 text-neutral-600 text-sm">Udemy</p>
                        <span class="text-neutral-400 text-sm">
                        <i class="uil uil-calendar-alt"></i>
                        Abril 2024
                        </span>
                    </div>
                    <div class="order-first flex relative">
                        <span class="absolute inline-block bg-primary h-4 w-4 rounded-full -translate-x-[7px] translate-y-[3px]"></span>
                    </div>
                </div>
            </div>
            <div id="container_jobs" class="hidden flex-col pl-3 gap-2 md:max-w-3xl md:mx-auto">
                <!--Experiencia 1-->
                <div class="flex">
                    <div class="ml-6 pb-7">
                        <h3 class="font-bold">Desarrollador full stack Django</h3>
                        <p class="dark:text-neutral-400 text-neutral-600 text-sm">Freelance</p>
                        <p class="text-neutral-400 text-sm">
                        <i class="uil uil-calendar-alt"></i>
                        Enero 2024 - Presente
                        </p>
                        <div class="text-sm text-neutral-500 dark:text-neutral-400 mt-4">
                            <h4 class="text-dark dark:text-neutral-300
                            font-bold">Responsabilidades:</h4>
                            <ul class="list-disc ml-4 marker:text-primary">
                                <li>
                                    <p>Desarrollador backend utilizando el framework Django y desarrollo de API’s con Django REST Framework.</p>
                                </li>
                                <li>
                                    <p>Diseño de interfaces frontend con Tailwind CSS.</p>
                                </li>
                                <li>
                                    <p>Implementación de funcionalidades con rutas protegidas, notificaciones por email, etc.</p>
                                </li>
                                <li>
                                    <p>Diseñar pantallas para Web Apps de diferentes proyectos, definición de flujos de usuario con el área de negocio y desarrollo.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="order-first flex relative">
                        <span class="absolute inline-block w-[2px] bg-neutral-200 dark:bg-neutral-500 h-full translate-y-3"></span>
                        <span class="absolute inline-block bg-primary h-4 w-4 rounded-full -translate-x-[7px] translate-y-[3px]"></span>
                    </div>
                </div>
                <!--Experiencia 2-->
                <div class="flex">
                    <div class="ml-6 pb-7">
                        <h3 class="font-bold">Junior Front-end Developer - UI/UX Designer</h3>
                        <p class="dark:text-neutral-400 text-neutral-600 text-sm">Elize CL - <i class="uil uil-location-pin-alt"></i> Portoviejo</p>
                        <p class="text-neutral-400 text-sm">
                        <i class="uil uil-calendar-alt"></i>
                        Febrero 2022 - Febrero 2023
                        </p>
                        <div class="text-sm text-neutral-500 dark:text-neutral-400 mt-4">
                            <h4 class="text-dark font-bold dark:text-neutral-300">Responsabilidades:</h4>
                            <ul class="list-disc ml-4 marker:text-primary">
                                <li>
                                    <p>Encargado de rediseñar las interfaces de usuarios de la App. Móvil Elize Asistente Educativo, con el fin de mejorar la experiencia de usuario de la misma. Prototipado realizado a través de la
                                    herramienta Figma.</p>
                                </li>
                                <li>
                                    <p>Colaboración directa y constante con el equipo de producto, desarrollo y negocio, para alinear los objetivos del negocio y mejorar la experiencia del usuario.</p>
                                </li>
                                <li>
                                    <p>Creación de nuevos componentes, realizar mejoras de los componentes existentes del design system y colaborar junto al equipo de desarrollo.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="order-first flex relative">
                        <span class=" inline-block w-[2px] bg-neutral-200 dark:bg-neutral-500 h-full translate-y-3"></span>
                        <span class="absolute inline-block bg-primary h-4 w-4 rounded-full -translate-x-[7px] translate-y-[3px]"></span>
                    </div>
                </div>
                <!--Experiencia 3-->
                <div class="flex">
                    <div class="ml-6 pb-7">
                        <h3 class="font-bold">Front-end Developer</h3>
                        <p class="dark:text-neutral-400 text-neutral-600 text-sm">Universidad Técnica de Manabí - <i class="uil uil-location-pin-alt"></i> Portoviejo</p>
                        <p class="text-neutral-400 text-sm">
                        <i class="uil uil-calendar-alt"></i>
                        Enero 2022 - Diciembre 2022
                        </p>
                        <div class="text-sm text-neutral-500 dark:text-neutral-400 mt-4">
                            <h4 class="text-dark font-bold dark:text-neutral-300">Responsabilidades:</h4>
                            <ul class="list-disc ml-4 marker:text-primary">
                                <li>
                                    <p>Como proyecto de tesis para obtener mi título de Ingeniero en Sistemas, desarrollé un Sistema Web para el manejo y control de los procesos del Honorable Consejo Directivo de Facultades de la Universidad Técnica de Manabí.</p>
                                </li>
                                <li>
                                    <p>El proyecto se realizó con ReactJS como librería de Javascript en el front-end y como back-end se utilizaron tecnologías como nodeJS. Implementando funcionalidades como, manejo de archivos, notificaciones por correos electrónicos, uso de Socket IO para actualizaciones en tiempo real, etc.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="order-first flex relative">
                        <span class="absolute inline-block bg-primary h-4 w-4 rounded-full -translate-x-[7px] translate-y-[3px]"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>