{% load static %}
<section id="home" class="home mt-28 scroll-mt-36 lg:flex lg:items-center lg:justify-center lg:gap-16">
    <div class="w-full min-w-80 md:w-auto flex justify-center md:order-last">
        <img class="max-h-60 lg:max-h-80" src="{% static 'core/img/foto3.png' %}" alt="foto3">
    </div>
    <div class="max-w-lg md:min-w-96">
        <div class="flex gap-4 mt-4 mb-2 items-center">
            <a class="text-dark hover:text-primary dark:text-neutral-300
            dark:hover:text-primary" href="https://www.instagram.com/kelvin_cast/">
                <i class="uil uil-instagram"></i>
            </a>
            <a class="text-dark hover:text-primary dark:text-neutral-300 dark:hover:text-primary" href="https://www.linkedin.com/in/kelvin-cede%C3%B1o-castro-254021311/">
                <i class="uil uil-linkedin-alt"></i>
            </a>
            <a class="text-dark hover:text-primary dark:text-neutral-300 dark:hover:text-primary" href="https://github.com/kelvincedcas">
                <i class="uil uil-github-alt"></i>
            </a>
            <a class="text-dark hover:text-primary dark:text-neutral-300 dark:hover:text-primary" href="https://wa.me/593978884908">
                <i class="uil uil-whatsapp"></i>
            </a>
        </div>
        <div class="flex flex-col gap-2 text-dark">
            <div class="bg-primary h-2 w-[275px] mt-5"></div>
            <h1 class="text-4xl font-extrabold -mt-10 dark:text-neutral-300">Hola, soy Kelvin</h1>
            <div class="flex flex-col gap-3">
                <p class="text-sm text-gray-700 dark:text-neutral-400">Desarrollador full stack de Django</p>
                <p class="text-gray-600 dark:text-neutral-400"><span class="font-extrabold text-dark dark:text-neutral-400">Ingeniero en Sistemas con más de dos años de experiencia</span> en desarrollo front-end y back-end, especializado en Python, Django y Django REST Framework.</p>
                </div>
        </div>
        <div class="flex gap-4 text-sm mt-4 font-semibold">
            <a class="bg-primary text-white py-4 px-5 rounded-lg flex gap-2 items-center justify-center hover:bg-yellow-600 transition-colors" href="mailto:kelvincedcas@gmail.com">
                Contáctame
                <i class="uil uil-message"></i>
            </a>
            <a class="bg-light text-dark border border-gray-300 py-4 px-5 rounded-lg flex gap-2 items-center justify-center hover:bg-neutral-300 transition-colors" href="https://www.dropbox.com/scl/fi/hmbv54wqh4p1prxiqrj4e/Cv-Kelvin.pdf?rlkey=9v42pevc4rrmki3pg0fodwpz0&dl=0">
                Descarga mi CV
                <i class="uil uil-download-alt"></i>
            </a>
        </div>
    </div>
</section>